// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: #dddddd;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #8c8c8c;
  color: black;
  display: flex;
  justify-content: center;
  column-gap: 5px;
  align-items: center;
}

.footer-icon {
  height: 1.5rem;
  width: auto;
  color: black;
  margin: 5px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cursor-pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.large-font {
  font-size: 2.5rem;
}

.medium-font {
  font-size: 1.5rem;
}

.small-font {
  font-size: 1rem;
}

.smallest-font {
  font-size: 0.75rem;
}

.panel-container {
  flex: 1;

  display: flex;
}

.top-panel {
  margin: 10px;
}

.left-panel {
  flex: 1;
}

.right-panel {
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom-panel {
  flex: 1;
  margin: 10px;
}

.weather-detail-container {
  display: flex;
  width: 20vw;
  margin: auto;

  img {
    max-height: 50px;
    width: auto;
  }

  .left-panel {
    flex: 1;
  }

  .right-panel {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.horizontal-scroll-container {
  display: flex;
  overflow: auto;
  cursor: grab;
}

.hourly-weather-container {
  div {
    width: 10vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    pointer-events: none;
    cursor: default;
  }
}

.daily-weather-container {
  div {
    display: flex;

    div {
      flex: 1;
    }
  }
}

@media (max-width: 600px) {
  $mobile-content-width: 95vw;

  .top-panel {
    display: flex;
    flex-direction: column;
  }

  .weather-detail-container {
    display: flex;
    width: 30vw;
    margin: 10px;
  }

  .hourly-weather-container {
    div {
      width: 25vw;
    }
  }

  footer {
    flex-direction: column;

    .divider {
      display: none;
    }
  }
}

.hidden {
  display: none;
}
