// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: #dddddd;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// this footer code would be needed for bottom panel
footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  height: 1.5rem;
  width: auto;
  color: white;
  margin: 5px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cursor-pointer {
  cursor: pointer;
}

.large-font {
  font-size: 2.5rem;
}

.medium-font {
  font-size: 1.5rem;
  margin: 5px;
}

.small-font {
  font-size: 1rem;
}

.top-panel {
  flex: 1;

  display: flex;
}

.left-panel {
  background-color: red;
  flex: 1;
}

.right-panel {
  background-color: blue;
  flex: 1;
}

.bottom-panel {
  background-color: green;
  flex: 1;
}

@media (max-width: 600px) {
  $content-width: 95vw;

  // .main-container {
  //   flex-wrap: wrap;
  //   justify-content: space-around;
  // }

  // .sidebar-section {
  //   width: $content-width;
  // }

  // .content-section {
  //   width: $content-width;
  // }
}
